// Animations
@mixin animation($animation) {
  animation: $animation;
}
@mixin animation-name($name) {
  animation-name: $name;
}
@mixin animation-duration($duration) {
  animation-duration: $duration;
}
@mixin animation-timing-function($timing-function) {
  animation-timing-function: $timing-function;
}
@mixin animation-delay($delay) {
  animation-delay: $delay;
}
@mixin animation-iteration-count($iteration-count) {
  animation-iteration-count: $iteration-count;
}
@mixin animation-direction($direction) {
  animation-direction: $direction;
}
@mixin animation-fill-mode($fill-mode) {
  animation-fill-mode: $fill-mode;
}
