// Transitions
@mixin transition($transition) {
  transition: $transition;
}
@mixin transition-property($transition-property) {
  transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration) {
  transition-duration: $transition-duration;
}
@mixin transition-timing-function($timing-function) {
  transition-timing-function: $timing-function;
}
@mixin transition-transform($transition) {
  transition: transform $transition;
}
