/*========== LOGIN  ==========*/
.login-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.loginGroup {
		order: 2;
	}

	.registerGroup,
	.userDisplayName,
	.loginGroup {

		padding: 0;
		margin: 0;

		a {
			display: inline-block;
			position: relative;
			height: 34px;
			line-height: 34px;
			min-width: 12px;
			padding: 0 15px 0 15px;
			color: #ffffff;
			font-size: 11px;
			vertical-align: center;

			&:hover {
				background: #d7d7d7;
				color: $login_color;
				text-decoration: none;
			}

			&:active {
				color: $login_color;
			}

			strong {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				overflow: hidden;
				font-size: 11px;
				text-indent: -9999px;
			}
		}
	}

	.registerGroup {
		li {

			line-height: 1.2em;

			&:first-child:hover {
				border-left: #222;
			}
		}

		.buttonGroup {
			margin: 0;
			padding-left: 0.5em;
			display: flex;
		}

		.userProfileImg {
			a {
				min-width: 25px;
				min-height: 32px;
				padding: 0;
				background: none;
			}
		}

		a {
			span {
				display: inline-block;
				position: absolute;
				right: 2px;
				top: -9px;
				min-width: 7px;
				margin-right: 3px;
				background: rgb(59, 150, 182);
				text-align: center;
				font-size: 11px;
				color: #ffffff;
				-webkit-text-shadow: 0px 1px 0px #333333;
				text-shadow: 0px 1px 0px #333333;
			}

			img {
				height: 32px;
				width: 32px;
				background: #333;
			}
		}
	}

	.userNotifications {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;

		strong {
			height: 100%;
			background: url('#{$path-img}/notification_icon.png') no-repeat center center;
		}
	}

	.userMessages {
		strong {
			height: 100%;
			background: url('#{$path-img}/message_icon.png') no-repeat center center;
		}
	}

	.userMessages,
	.userNotifications {
		a {
			padding: 0 18px;

			span {
				display: inline-block;
				margin-top: 9px;
				margin-right: 0px;
				background-color: transparent;
				font-size: 10px;
			}
		}
	}
}

.userProfileImg {
	img{
		vertical-align: top;
	}
}

.UserProfileControls ul {
	margin-left: 0;

	li {
		display: inline-block;
	}
}