/*==========  BREADCRUMBS  ==========*/
.skin-breadcrumb {

	// Hide if no breadcrumb
	&:has( > span:empty){
		display:none;
	}
	
	border-radius: 0px;

	box-shadow: none;

	border-bottom: 1px dashed;
	border-color: $gray-300;

	background-color: transparent;
	padding: 5px 0;
	margin: 0;
	display: block;

	a {
		margin-left: 10px;
		display:inline-block;
		font-weight: 600;
		font-size: $font-size-sm;
		color: $breadcrumb_color;

		&:first-child {

            font-size: $font-size-sm !important;
            font-weight: 400;
            color: $gray-500;
		}
	}

	img {
		margin-left: 10px;
	}

}
