/*==========  CONTAINER STYLES  ==========*/
.cont-wrapper {
	.cont-header {
		.cont-header-title {
			margin: 0 0 1rem;
		}
	}

	.panes & {
		margin: (2 * $spacer) 0;

		&.cont-no-margin {
			margin: 0;
		}
	}

	&.cont-line {
		.cont-header {
			border-bottom: 1px solid $gray-300;
			padding-bottom: .5rem;
		}
	}

	&.cont-bg {
		padding: 1.2 * $spacer $spacer $spacer;
	}

	&.cont-bg-color {
		background-color: $primary;
		@include text-on-dark-bg;
	}

	&.cont-bg-gray {
		background-color: $gray-100;
	}
}