/*==========  FOOTER  ==========*/
footer  {
	.footer-above {
		background-color: #292929;
		padding-top: 25px;
		border-top: 25px solid $base_lighter;
		h2, p {
			color: #ffffff;
		}
	}
	.footer-col {
		margin-bottom: 25px;
	}
	.footer-below {
		background-color: $base_dark;
		padding: 15px 0;
		font-size: 12px;
		color: $footer_light;
	}
	.copyright {
		float:left;
	}
	.terms-priv {
		float: right;
		a:link, a:visited {
			color: $footer_light;
			font-size: 12px;
		}
	}
	.copyright, .terms-priv {
		padding-left: 15px;
		padding-right: 15px;
	}
	.links-list ul li {
		float: left;
		width: 100%;
		font-size: 15px;
		line-height: 1.5em;
		a:link, a:active, a:visited  {
			color:#ffffff;
		}
		a:hover {
			color: $base_light;
		}
		a:before {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 3px solid transparent;
			border-bottom: 3px solid transparent;
			border-left: 3px solid $base_dark;
			position: relative;
			bottom: 1px;
			padding-right: 9px;
		}
	}
}

