/*========== FORMS  ==========*/

.contact-form {
	.form-control{
		border: 1px solid $contact_light;
		border-radius: 0;

		box-shadow: initial;
		height: 50px;
        padding: 12px 15px 15px;
	}
	&::placeholder {
       color: $contact_light;
    }
}
