/*==========  MAIN  ==========*/
main {
    background: #ffffff;
    border: 1px solid $gray-200;
    border-top: none;
    margin-bottom: 1em;
    min-height: 350px;
}
    main.no-bg {
        background: none;
    }
    .panes {
       //  padding: 1em;
    }

