/*==========  BUTTON STYLES  ==========*/
.buttons-wrapper {
	text-align: center;
}

button.cta-button-primary,
a.cta-button-primary {
	background: $base_lighter;
	border: 1px solid $base_lighter;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
	margin: 0 5px 5px 0;
	min-width: 200px;
	padding: 10px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	@include transition(background-color 300ms ease-out 0s);

	&:hover {
		background: $buttons_light;
		border-color: $buttons_light;
	}
}

button.cta-button,
a.cta-button {
	background: none;
	border: 1px solid $base_lighter;
	color: $base_lighter;
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
	margin: 0 5px 5px 0;
	min-width: 200px;
	padding: 10px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	@include transition(background-color 300ms ease-out 0s);

	&:hover {
		color: #ffffff;
		background: $base_lighter;
		border-color: $buttons_light;
	}
}
